In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

26/02/03 21:15:58 WARN Utils: Your hostname, EDITH resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/02/03 21:15:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/03 21:15:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/03 21:16:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
import pandas as pd
from pyspark.sql import types
from pyspark.sql import functions as F

In [4]:
df_green=spark.read.parquet('data/pq/green/*/*')

In [6]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_green=df_green.withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [8]:
df_yellow=spark.read.parquet('data/pq/yellow/*/*')

In [9]:
df_yellow=df_yellow.withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [10]:
common_cols=[]
yellow_cols=set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_cols:
        common_cols.append(col)
common_cols

['VendorID',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [11]:
df_yellow_sel=df_yellow.select(common_cols).withColumn('service_type',F.lit('yellow'))

In [12]:
df_green_sel=df_green.select(common_cols).withColumn('service_type',F.lit('green'))

In [13]:
df_trips_data=df_green_sel.unionAll(df_yellow_sel)

In [14]:
df_trips_data.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [15]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [16]:
df_trips_data.registerTempTable('trips_data')

/home/nakul/notebooks/spark-env/lib/python3.12/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [17]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

[Stage 5:============================================>            (29 + 8) / 37]

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [19]:
df_result = spark.sql("""
SELECT 
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', dropoff_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [20]:
df_result.show()

[Stage 8:====================================================>    (34 + 3) / 37]

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         152|2020-02-01 00:00:00|       green|   37657.32000000003|              1542.75|                 1399.5|         2838.659999999998|           538.3700000000003|                    904.5000000000227|           46018.94999999915|                              1339.0|         1.2238493723849373|         2.72685862180524|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                        1.0|                      0.0|
|          20|2020-01-01 00:00:00|       green|  11375.419999999996|                681.0|                  131.0|                     90.62|          479.86000000000024|                    147.2999999999993|          12923.200000000008|                                11.0|         1.2297872340425533|        4.872311926605502|
|          12|2020-01-01 00:00:00|       green|              161.01|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                NULL|                       NULL|       0.7150000000000007|
|         192|2020-01-01 00:00:00|       green|   8618.379999999997|               395.25|                   63.5|        374.92999999999995|          54.050000000000004|                    90.29999999999973|           9608.110000000008|                                 0.0|         1.3060109289617485|       5.1594571428571445|
|         225|2020-01-01 00:00:00|       green|   54163.13999999996|               3779.0|                  573.0|        299.32000000000005|           786.1500000000005|                    662.1000000000137|           60424.11000000009|                                49.5|         1.1127596439169138|        4.172635719905577|
|           7|2020-02-01 00:00:00|       green|  150271.57000000007|              7236.25|                 6802.0|        12186.240000000005|          1533.0800000000008|                    4270.799999999666|           184995.4900000167|                              2673.0|         1.4657136637399317|       2.2321749359905825|
|          33|2020-01-01 00:00:00|       green|   155185.3799999994|              6140.25|                 4755.5|         18295.10999999997|           660.7100000000002|                   3094.1999999999134|          194109.85000000324|                              6190.5|         1.2879078694817658|        3.408651653363743|
|         217|2020-01-01 00:00:00|       green|   7338.409999999996|                423.5|                   98.5|         82.83000000000001|          137.88000000000002|                     91.1999999999997|                     8200.17|                               24.75|         1.1933333333333334|       4.8195562130177505|
|         161|2020-01-01 00:00:00|       green|  2278.8299999999995|                148.5|                    5.0|                       0.0|          183.66000000000003|                   21.600000000000016|          2637.5900000000006|                                 0.0|                        1.0|        8.621388888888891|
|          62|2020-01-01 00:00:00|       green|            26734.57|               2084.0|                  273.5|                    213.79|          237.89000000000004|                    336.3000000000035|          29938.649999999903|                               13.75|         1.2145328719723183|        4.052355242566509|
|         191|2020-01-01 00:00:00|       green|  24748.080000000027|               1227.0|                  144.0|         9.969999999999999|          399.29000000000013|                   217.80000000000035|           26748.89000000001|                                2.75|         1.2651162790697674|        8.091192307692308|
|         159|2020-01-01 00:00:00|       green|  31086.469999999994|               1782.5|                  541.0|        283.15999999999997|          1169.1900000000007|                    482.7000000000073|           35435.21999999963|                               85.25|          1.176300578034682|        4.014747826086959|
|         236|2020-01-01 00:00:00|       green|            13466.22|                755.5|                  442.5|        1571.1199999999994|          397.23000000000013|                   298.20000000000243|          18480.969999999936|                              1699.5|         1.4020857473928157|        3.123544554455448|
|          25|2020-01-01 00:00:00|       green|  119780.50999999957|              6300.75|                 3427.0|          8951.53000000001|           851.8100000000005|                   2376.8999999998223|          143312.55000000464|                              1622.0|          1.234862385321101|        3.157046897899368|
|         245|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                        6.0|                     51.9|
|         254|2020-01-01 00:00:00|       green|   35814.50000000003|              2336.75|                  215.0|                     11.26|           1600.849999999998|                   352.50000000000375|          40336.709999999905|                                 0.0|         1.2430939226519337|        7.236776669224855|
|         260|2020-02-01 00:00:00|       green|   80242.49000000002|              3379.75|                 3329.5|         7019.490000000002|           585.6800000000003|                   2081.0999999998676|           97180.56000000259|                               571.5|         1.5794309425014819|       2.5491878753217048|
|          70|2020-01-01 00:00:00|       green|    9938.84999999999|                611.0|                  139.0|        122.53999999999998|           299.1600000000001|                   141.59999999999937|           11273.35000000001|                                22.0|         1.2639405204460967|       4.6151893939393975|
|         136|2020-02-01 00:00:00|       green|  19683.649999999994|               1527.0|                  172.0|                     66.85|           476.5500000000002|                   215.09999999999866|          22153.299999999996|                                8.25|         1.1877394636015326|        5.582378516624043|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [22]:
df_result.coalesce(1).write.parquet('data/report/revenue/','overwrite')